*, *::after, *::before {
  box-sizing: border-box;
}

:root {
  --cell-size: 100px;
  --mark-size: calc(var(--cell-size) * .9);
}

body {
  margin: 0;
}

.board {
  width: 100vw;
  height: 100vh;
  display: grid;
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
  grid-template-columns: repeat(3, auto)
}

.cell {
  width: var(--cell-size);
  height: var(--cell-size);
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cell:first-child,
.cell:nth-child(2),
.cell:nth-child(3) {
  border-top: none;
}

.cell:nth-child(3n + 1) {
  border-left: none;
}

.cell:nth-child(3n + 3) {
  border-right: none;
}

.cell:last-child,
.cell:nth-child(8),
.cell:nth-child(7) {
  border-bottom: none;
}

.circle {
  width: var(--mark-size);
  height: var(--mark-size);
  pointer-events: none;
  background-size: cover;
  background-image: url(img/circle-svgrepo-com.svg);
}

.cross {
  width: var(--mark-size);
  height: var(--mark-size);
  pointer-events: none;
  background-size: cover;
  background-image: url(img/x-svgrepo-com.svg);
}

.winning-message {
  display: none; /* Display this with JS */
  align-items: center;
  justify-content: center;
  position: fixed;
  width: 100vw;
  height: 100vh;
  font-size: 3em;
  background-color: rgba(0,0,0,0.5); /* Black background with opacity */
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}